.Register {
     height: 100%;
     width: 100%;
     position: absolute;
     margin: 0;
     padding: 0;
     background-color: #20232a;
}

#RegisterCard {
     height: 100%;
     width: 40%;
     left: 30%;
     margin-left: calc((100vw - max(40vw, 500px))/2);
     background-color: #282c34;
     display: flex;
     flex-direction: column;
     min-width: 500px;
     align-items: center;
}

#RegisterCard label {
     color: #fff;
     text-align: center;
     margin-top: 30px;
}

#RegisterCard input {
     margin-top: 10px;
     width: 80%;
     background: #20232a;
     height: 40px;
     border: none;
     color: #fff;
     padding-left: 10px;
     padding-right: 10px;
     min-width: 400px;
}
#RegisterCard input::placeholder {
     text-align: center;
}
#RegisterCard input:focus {
     outline: none;
}

#RegisterCard button {
     margin-top: 50px;
     height: 40px;
     width: 60%;
     background-color: #61dafb;
     border: none;
     color: #000;
     font-size: 15px;
     transition: 300ms;
     min-width: 300px;
}
#RegisterCard button:hover {
     background-color: #fff;
}

#RegisterCard #Logo {
     width: 250px;
}

#RegisterCard a, #RegisterCard p {
     margin-top: 25px;
     color: #fff;
     transition: 300ms;
     font-size: 15px;
}

#RegisterCard a:hover {
     color: #61dafb;
}

#Alert {
     width: 100%;
     height: 50px;
     text-align: center;
     padding-bottom: 15px;
}
#Alert button {
     position: absolute;
     margin: 0;
     width: 25px;
     height: 25px;
     border-radius: 20px;
     min-width: 10px;
     left: calc((100vw - max(40vw, 500px))/2 + 40% - 25px);
     background-color: transparent;
}
#Alert button:hover {
     background-color: transparent;
     color: #fff;
}

@media only screen and (max-width: 768px) {
     #RegisterCard {
          margin-left: 0;
          left: 0;
          width: 100%;
     }
     #RegisterCard input {
          width: 70%;
     }
     #RegisterCard button {
          width: 40%;
     }
     #Alert {
          width: 100%;
          height: 50px;
          text-align: center;
     }
}

/*
Extra Small < 768
768 < Small < 992
1200 < Large
*/